*.class
*.iml
*.jar
*.log
.DS_Store
.\#*
.cpcache/
.idea/
.nrepl-port
.vscode
/*.lock.db
/*.mv.db
/*.trace.db
/.babel_cache
/.env
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/checkouts
/classes
/lein-plugins/*/target
/target
\#*\#
pom.xml
pom.xml.asc
profiles.clj
target/checksum.txt
*~
.shadow-cljs
# lsp: ignore all but the config file
.lsp/*
!.lsp/config.edn
.clj-kondo
*/.clj-kondo
.lsp
*/.lsp
*.code-workspace

.calva/