{:paths ["src" "resources" "test"]
 :deps
 {cheshire/cheshire                       {:mvn/version "5.11.0"}
  hiccup/hiccup                           {:mvn/version "2.0.0-alpha2"}
  http-kit/http-kit                       {:mvn/version "2.7.0-alpha1"}
  org.clojure/clojure                     {:mvn/version "1.11.1"}
  org.clojars.askonomm/ruuter             {:mvn/version "1.3.2"}
  ring-sse-middleware/ring-sse-middleware {:mvn/version "0.1.3"}}}
